@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";

/**
 * Site header
 */
.site-header {
  min-height: 56px;

  .wrapper {
    display: flex;

    .logo {
      max-width: 85px;
    }

    .site-title {
      font-size: 30px;
      font-weight: 300;
      letter-spacing: -1px;
      margin-bottom: 0;
      text-align: right;
      flex: 1;

      .site-subtitle {
        font-size: 20px;
        font-weight: 100;
        letter-spacing: -1px;
        margin-bottom: 0;
      }
    }
  }
}


.site-nav {
  flex: 1;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    .page-link {
      padding: 20px 0;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  font-size: 15px;
  color: $grey-color;
  text-align: center;

  .content {
      display: flex;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.page-list {
  margin-left: 0;
  list-style: none;

  .page-link:hover {
    text-decoration: none;
  }

  > li {
    margin-bottom: $spacing-unit * 2;

    &:not(:first-child) {
      border-top: 4px solid $grey-color-light;
      padding-top: $spacing-unit * 2;
    }
  }
}

.page-archives {
  margin-left: 0;
  list-style: none;

  .page-link {
    font-size: 24px;
  }

  > li {
    margin-bottom: $spacing-unit;
  }
}

.page-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.page-link {
  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $brand-color;
  }
}



/**
 * Page
 */
.page-header {
  margin-bottom: $spacing-unit;
}

.page-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.page-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 38px;

    @include media-query($on-laptop) {
      font-size: 34px;
    }
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * Markdownlist
 */
.markdownlist-header {
  margin-bottom: $spacing-unit;
}

.markdownlist-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.markdownlist-content {
  margin-bottom: $spacing-unit;

  p {
    display: none;
  }

  ul {
    display: none;
  }

  ol {
    list-style: none;
    li {
      display: flex;
      margin-bottom: 15px;
        div:nth-child(1) {
          font-family: Krub, sans-serif;
          font-size: 40px;
          margin-right: 15px;
          line-height: 40px;
          color: #c63131;
        }
        div:nth-child(2) {

        }
    }
  }

  h2 {
    color: #c63131;
    font-size: 40px;
    font-family: Krub, sans-serif;

    @include media-query($on-laptop) {
      font-size: 34px;
    }
  }

  h3 {
    @extend %fa-icon;
    @extend .fas;
    font-size: 32px;
    cursor: pointer;

    @include media-query($on-laptop) {
      font-size: 28px;
    }

    &:before {
      content: fa-content($fa-var-plus-circle) "\00a0 ";
    }

    &.active:before {
      content: fa-content($fa-var-minus-circle) "\00a0 ";
    }
  }

  h4 {
    font-size: 26px;
    display: none;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h5 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

/**
 * Tab
 */
.tabs {
  display: flex;

  div {
    border: 1px solid transparent;
    border-color: #fff #fff #dee2e6;
    width: 100%;
    display: flex;
  }

  div.active {
    border-color: #dee2e6 #dee2e6 #fff;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;

    a {
      color: #c63131;
    }
  }

  a {
    width: 100%;
    text-align: center;
    color: $text-color;
    line-height: $base-line-height;
  }
  a:hover {
    color: #c63131;
    text-decoration: none;
  }

}

.tabcontent {
  padding: 6px 12px;
}
