{% assign feed_path = "/feed.xml" %}
{% if site.feed and site.feed.path %}
  {% assign feed_path = site.feed.path %}
{% endif %}
<div class="content">
  <div>
    <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
      <img src="https://licensebuttons.net/p/zero/1.0/80x15.png" style="border-style: none;" alt="CC0" />
    </a>
  </div>
  <div xmlns:dct="http://purl.org/dc/terms/" xmlns:vcard="http://www.w3.org/2001/vcard-rdf/3.0#"></div>
  Darrera modificació el {% last_modified_at %d/%m/%Y %}

  <nav class="site-nav">
    {% for link in site.data.navigation.main %}
      {% if link.url contains "http" %}
        {% assign url = link.url %}
      {% else %}
        {% assign url = link.url | relative_url %}
      {% endif %}
      <a class="page-link" href="{{ url }}">{{ link.title }}</a>
    {% endfor %}
  </nav>
</div>
