---
layout: default
---
<div class="markdownlist">
  <div class="tabs">
    <div {% if page.url contains '/municipals' %} class="active" {% endif %}>
      <a href="/municipals">
        Programa Municipals
      </a>
    </div>
    <div {% if page.url == '/' or page.url contains '/autonomiques' %} class="active" {% endif %}>
      <a  href="/autonomiques">
        Programa Autonòmiques
      </a>
    </div>
  </div>

  <div class="tabcontent">
    <div>
       {% if page.url contains '/municipals' %}
         <a href="/es/municipals">Castellano</a>
         <a href="/en/municipals">English</a>
       {% endif %}
    </div>
    <div class="markdownlist-content">
      {{ content }}
    </div>
  </div>

</div>

<script type="text/javascript">

  // append the amount of points into the title
  var h2Title = document.getElementsByTagName("h2")[0];
  var points = document.querySelectorAll("ol > li");
  if (points) {
    h2Title.innerText = points.length + " " + h2Title.innerText;
  }

  // make the h3 elements expandable
  var h3Element = document.getElementsByTagName("h3");
  var i;
  for (i = 0; i < h3Element.length; i++) {
    h3Element[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      while (content.previousElementSibling.id.lastIndexOf('proposta-programàtica', 0) !== 0) {
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        content = content.nextElementSibling;
      }
    });
  }

  // append to the ol > li the item number
  var liElement = [];
  [].slice.call(document.getElementsByTagName("ol")).forEach(
    function(ol) {
      liElement.push.apply(liElement, [].slice.call(ol.children));
    });

  for (i = 0; i < liElement.length; i++) {
    var number = document.createElement("DIV")
    var textNumber = document.createTextNode(i + 1);
    number.appendChild(textNumber);
    var li = document.createElement("DIV")
    var textLi = document.createTextNode(liElement[i].innerText);
    li.appendChild(textLi);
    liElement[i].innerHTML = '';
    liElement[i].appendChild(number);
    liElement[i].appendChild(li);
  }

</script>
